<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%  set file_name=filename %}
<form role="form" action="/update/" method="post" enctype="multipart/form-data">
    <div class="form-group">

        <input name="name" type="text"/>
        <button type="submit" class="btn btn-danger">提交</button>
         <input name="files" type="file"/>
    </div>

</form>
<h3>姓名：{{ username }}</h3>
<img  alt="图片丢失了" onerror="this.src='http://image.biaobaiju.com/uploads/20180928/16/1538124027-aMtYOyIRzC.jpeg'" style="width: 80px; height: 80px;" src="{{ url_for('static',filename=file_name)}}">
</body>
</html>